<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Kurir</title>

  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="css/app.css">
  <!-- un-comment this code to enable service worker
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js')
        .then(() => console.log('service worker installed'))
        .catch(err => console.log('Error', err));
    }
  </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/preload.js"></script>
  <script src="https://unpkg.com/ionicons@4.4.8/dist/ionicons.js"></script>
</head>
<body ng-app="starter">

<ion-pane style="background: transparent">
  <div id="frame">
    <div class="bar bar-header bg-green">
      <!--<button class="button text-white button-icon icon ion-arrow-left-c"></button>&lt;!&ndash;&ndash;&gt;-->
      <button class="button text-white button-icon icon ion-android-arrow-back" onclick="window.location.href='messages.html'">
      </button>
      <h1 class="title text-white">{{ activeRoom.name }}</h1>
    </div>
    <div class="list" style="margin-top: 44px;">
      <div v-for="chat in activeChatMessage">
        <a class="item item-avatar" href="#" v-if="chat.user_id != user.id">
          <img src="https://emilcarlsson.se/assets/harveyspecter.png">
          <div class="p-2 sender" style="float: left;">
            <h3>{{ chat.name }}</h3>
            <p>{{ chat.message }}</p>
          </div>
        </a>
        <a class="item item-avatar right" href="#" v-else>
          <div class="text-message-right p-2 reply">
            <h3>{{ chat.name }}</h3>
            <p>{{ chat.message }}</p>
          </div>
          <img class="item-image-right" src="https://emilcarlsson.se/assets/harveyspecter.png">
        </a>
      </div>
    </div>
    <div style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: gainsboro;">
      <div class="row m-0">
        <div class="pr-2" style="width: 90%;">
          <input type="text" class="form-control px-2" v-model="message" autocomplete="off" placeholder="type message" @keydown.enter="sendMessage(activeRoom.room_id)">
        </div>
        <div style="width: 10%;">
          <button type="submit" class="btn bg-green text-white btn-block icon ion-android-send" @click="sendMessage(activeRoom.room_id)"></button>
        </div>
      </div>
    </div>
  </div>
</ion-pane>
<script>
  var halo = new Vue({
    el: '#frame',
    data: {
      chats: [],
      total_chat: 0,
      total_user: 0,
      online_users: [],
      selected_room: null,
      state: 'chat',
      activeRoom: {
        name: ''
      },
      activeChatMessage: [],
      user: {
        name: 'Kurir'
      },
      socket : io('localhost:3000'),
      message: '',
      invitedUsers: [],
      availableUsers: [],
      filterSearch: '',
      newGroupChat: {
        name: '',
        users: []
      },
    },
    mounted() {
      this.socket.on('connect', () => {

      });
      this.socket.on('GET_MESSAGE', (data) => {
        var temp = data;
        this.online_users.forEach((user) => {
          if(user.id == temp.user_id) {
            temp.name = user.name;
          }
        });
        this.activeChatMessage.push(temp);
      });
    },
    created() {
      this.initChats();
    },
    methods: {
      initChats() {
        let vm = this;
        let user_temp  = JSON.parse(sessionStorage.getItem("room"));
        console.log(user_temp);

        vm.activeRoom = user_temp.user.room;
        vm.user = user_temp.user;
        axios.get('http://localhost:3000/getChatMessage?room_id=' + vm.activeRoom.room_id)
          .then(function (response) {
            vm.activeChatMessage = response.data;
          });
      },
      sendMessage(room_id) {
        this.socket.emit('SEND_MESSAGE', {
          user: this.user,
          message: this.message,
          room_id: room_id
        });
        this.message = '';
      },
    }
  });
</script>
</body>
</html>
